body {
    margin: 0;
}
.carusel {
    margin: 30px;
    height: 80vh;
}
.carusel-block {
    position: relative;
}
.carusel-inner {
    padding: 30px;
    font-size: 18px;
    line-height: 26px;
    border: 2px solid;
    border-color: blue;
    height: 50vh;
    margin-bottom: 30px;
}
.carusel-button-box {
    content: '';
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.img-svg {
    height: 10px;
    width: 10px;
}
h1 {
    margin: 0 0 30px;
    font-size: 40px;
    line-height: 46px;
}
.carusel-item {
    display: none;
}
.active {
    display: inline-block
}
.form {
    display: inline-block;
}


.carusel-control {
    display: flex;
    gap: 50px;
}
.carusel-control-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.carusel-input-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-mistake {
    outline: red solid 1px;
}