body {
    margin: 0;
}
.carusel {
    margin: 30px;
    height: 80vh;
    position: relative;
}
.carusel-inner {
    padding: 30px;
    font-size: 18px;
    line-height: 26px;
    border: 2px solid;
    border-color: blue;
    height: 50vh;
    margin-bottom: 30px;
}
h1 {
    margin: 0 0 30px;
    font-size: 40px;
    line-height: 46px;
}
.carusel-item {
    display: none;
}
.active {
    display: inline-block
}
.carusel-button-box {
    content: '';
    position: fixed;
    bottom: 30px;
    left: 30px;
}
.form {
    display: inline-block;
}
.carusel-input-box{
    display: inline-block;
    
}